:root {
  --text-primary: #0b0b0b;
  --bg-primary: #fffaf0;
  --bg-secondary: #e6eedf;
  --bg-section: rgba(255 250 240 / 0.97);
  --container-inner: rgba(230 238 223 / 0.6);
  --invert: invert(0);
  --completed: rgba(118, 255, 129, 0.5);
  --boxshadow: rgba(11, 11, 11, 0.2);
}

.dark-mode {
  --text-primary: #f7f7f7;
  --bg-primary: #020202;
  --bg-secondary: #161615;
  --bg-section: rgba(15, 15, 14, 0.97);
  --container-inner: rgba(21, 22, 20, 0.6);
  --invert: invert(1);
  --boxshadow: rgba(11, 11, 11, 0.8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--bg-primary);
}

body,
html {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 300;
  user-select: none;
  -webkit-user-select: none;
}

header {
  padding-left: 3rem;
  background-color: var(--bg-secondary);
  height: 5rem;
  display: flex;
  align-items: center;
}

h1 {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  font-weight: 100;
}

main {
  overflow-y: hidden;
}

section {
  background-color: var(--bg-section);
}

ul {
  list-style: none;
  overflow-y: auto;
  height: calc(100svh - 9rem);
  padding-bottom: 3rem;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    text-wrap: pretty;
    box-shadow: 0 0 1px var(--boxshadow);
  }

  .li-completed {
    background-color: var(--completed);
  }

  .p-completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
}

.sortable-ghost {
  opacity: 0.6;
  background-color: #def3fd;
}

.container {
  box-shadow: 0 0 20px var(--boxshadow);
  height: calc(100svh - 5rem);
  z-index: 0;
  position: relative;
  overflow: hidden;

  .container-inner {
    display: flex;
    background-color: var(--container-inner);
  }

  .background {
    width: 95%;
    height: 95%;
    margin: auto;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.025;
    filter: var(--invert);
  }
}

input,
button {
  background: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

input,
li {
  min-height: 4rem;
}

button {
  padding-inline: 1rem 1.5rem;
}

#clear-list {
  padding-bottom: 0.45rem;
}

#clear-list,
#dark-mode-toggle {
  background-color: var(--bg-secondary);
}

input {
  padding-left: 1rem;
  font-weight: 300;
  font-size: 16px;
  width: 100%;

  &::placeholder {
    font-style: italic;
  }
}

span {
  font-size: 32px;
  font-weight: 100;
}

dialog[open] {
  position: absolute;
  background-color: var(--bg-secondary);
  display: grid;
  place-content: center;
  margin: auto;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px var(--boxshadow);
  gap: 1.5rem;
  padding: 1.5rem 2.5rem;
  color: var(--text-primary);
  text-align: center;

  p {
    font-size: 20px;
  }

  button {
    margin-inline: 0.5rem;
    font-size: inherit;
    padding: 0.8rem 0;
    min-width: 5rem;
    box-shadow: 0 0 20px var(--boxshadow);
    border-radius: 0.5rem;
  }

  #cancel-clear-list {
    background-color: var(--bg-primary);
    color: inherit;
  }
}

img {
  filter: var(--invert);
  width: 16px;
}

::backdrop {
  background-color: var(--boxshadow);
}
